{% extends 'base.html' %}

{% block content %}
{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}
<form action="{% url 'lists:update' list.id %}" method='POST'>
    <input type="hidden" id="list_id" value='{{list.id}}'/>
    {% csrf_token %}
    <h1>List name: <input type="text" name="name" value="{{list.name}}"/></h1>
    <h1>Budget: <input type="number" name="budget" value="{{list.budget}}"/></h1>
    <div id='item_list'>
    {% for item in list.item_set.all %}
        <div class='item'>
            <input type="hidden" class="item_id" value='{{item.id}}'/>
            Name: <input type='text' class='item_name' value='{{item.name}}' onchange='save_item(this);'/>
            Quantity: <input type='number' class='item_quantity' value='{{item.quantity}}' onchange='save_item(this);' onkeyup='update_total();'/>
            Price: <input type='number' class='item_price' value='{{item.price}}' onchange='save_item(this);' onkeyup='update_total();'/>
        </div>
    {% endfor %}
    </div>
        <div id='item_template' style="display:none;" class='item'>
            <input type="hidden" class="item_id" value='0'/>
            Name: <input type='text' class='item_name' placeholder='item name' onchange='save_item(this);'/>
            Quantity: <input type='number' class='item_quantity' placeholder='item quantity' value='1' onchange='save_item(this);' onkeyup='update_total();'/>
            Price: <input type='number' class='item_price' placeholder='item price' value='0' onchange='save_item(this);' onkeyup='update_total();'/>
        </div>
    <div><h3>Total: </h3><h3 id='total'>0</h3></div>
    <a onclick='update_total();'>Calculate!</a>
    <a id='new_item'>New item</a>
    <a href="{% url 'lists:index' %}">Go to main page</a>
    <input type="submit" value="Save changes"/>
</form>
{% endblock %}